.linear{ 

width:100%; 

FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fff,endColorStr=blue); /*IE 6 7 8*/ 

background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */

background:-moz-linear-gradient(top,#fff,#0000ff);/*火狐*/ 

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#0000ff));/*谷歌*/ 

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/

background: -webkit-linear-gradient(top, #fff, #0000ff);   /*Safari5.1 Chrome 10+*/

background: -o-linear-gradient(top, #fff, #0000ff);  /*Opera 11.10+*/

} 