body{
	margin: 0;
	padding: 0;
	color: #333;
	font-family: Cambria, Georgia, serif;
	font-size: 15px;
	overflow-x: hidden;
}

a{
	color: #35BFFF;
	text-decoration: none;
}

a:hover, a:active{
	color: #91DCFF;
}

.grid{
	margin: 1px 10px;
	padding: 0;
	overflow: hidden;
	display: block;
	background: #fff;
	border: 1px solid;
	border-color: #fff;
	float: left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.imgholder{
	max-width: 100%;
	max-height: 100%;
	margin: 5px 0 5px 0;
	overflow: hidden;
	display: block;
	background: #E8E8E8;
}

.imgholder:hover{
	border-color: #aaa;
}

.grid .imgholder img{
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	opacity:1;
	max-width: 100%;
	transition:transform 0.5s ease-in-out, opacity 0.5s;
	-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0.5s;
	-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s;
}

.grid .imgholder:hover img{
	transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	opacity: 0.9;
}

.grid p{
	font-size: 12px;
}
