<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>心率信息</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/round.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/backimg.css') }}" rel="stylesheet">

</head>
<body style="background-image:url({{ url_for('static', filename='img/header.jpg') }})">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="container" style="width:94%;">
        
        <div class="row intro-tables" id="line_chart" style="">
            <h1 class="box" style="height:auto;color:white;text-align:center;font-size:5em">心率情况</h1>
            <div class="col-xs-12 col-sm-12 box" id="main" style="height:500px;background-image:url({{ url_for('static', filename='img/table-1.jpg') }})"></div>

            <div class="col-xs-12 col-sm-12 box" style="background-image:url({{ url_for('static', filename='img/table-3.jpg') }});padding-left:25%;padding-right:10%">
                <h2 style="font-size:2em">最高心率</h2>
                <div class="round" style="text-align:center;font-family:'Microsoft YaHei UI';">
                    <p id="data_today">
                        {{ highest }}
                    </p>
                </div>

                <h2 style="font-size:2em">平均心率</h2>
                <div class="round" style="background-color:pink;text-align:center;font-family:'Microsoft YaHei UI';position:relative;top:10px">
                    <p id="data_goal">
                        {{ average }}
                    </p>
                </div>

                <h2 style="font-size:2em">最低心率</h2>
                <div class="round" style="background-color:lightgreen;text-align:center;font-family:'Microsoft YaHei UI';position:relative;top:10px">
                    <p id="P1">
                        {{ lowest }}
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 box" style="font-family:'Microsoft YaHei UI';color:wheat;font-size:4em;background-image:url({{ url_for('static', filename='img/table-2.jpg') }})">
                <h2 style="font-size:1em">运动建议</h2>
                <p style="white-space:normal" id="data_suggestion">干的不错，继续努力</p>
            </div>

        </div>

            

    </div>

    <!-- js文件引入 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

                var option = {
                    title: {
                        text: '今日心率'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['心率']
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: ['0:00:00', '0:10:00', '0:20:00', '0:30:00', '0:40:00', '0:50:00',
                                   '1:00:00', '1:10:00', '1:20:00', '1:30:00', '1:40:00', '1:50:00',
                                   '2:00:00', '2:10:00', '2:20:00', '2:30:00', '2:40:00', '2:50:00',
                                   '3:00:00', '3:10:00', '3:20:00', '3:30:00', '3:40:00', '3:50:00',
                                   '4:00:00', '4:10:00', '4:20:00', '4:30:00', '4:40:00', '4:50:00',
                                   '5:00:00', '5:10:00', '5:20:00', '5:30:00', '5:40:00', '5:50:00',
                                   '6:00:00', '6:10:00', '6:20:00', '6:30:00', '6:40:00', '6:50:00',
                                   '7:00:00', '7:10:00', '7:20:00', '7:30:00', '7:40:00', '7:50:00',
                                   '8:00:00', '8:10:00', '8:20:00', '8:30:00', '8:40:00', '8:50:00',
                                   '9:00:00', '9:10:00', '9:20:00', '9:30:00', '9:40:00', '9:50:00',
                                   '10:00:00', '10:10:00', '10:20:00', '10:30:00', '10:40:00', '10:50:00',
                                   '11:00:00', '11:10:00', '11:20:00', '11:30:00', '11:40:00', '11:50:00',
                                   '12:00:00', '12:10:00', '12:20:00', '12:30:00', '12:40:00', '12:50:00',
                                   '13:00:00', '13:10:00', '13:20:00', '13:30:00', '13:40:00', '13:50:00',
                                   '14:00:00', '14:10:00', '14:20:00', '14:30:00', '14:40:00', '14:50:00',
                                   '15:00:00', '15:10:00', '15:20:00', '15:30:00', '15:40:00', '15:50:00',
                                   '16:00:00', '16:10:00', '16:20:00', '16:30:00', '16:40:00', '16:50:00',
                                   '17:00:00', '17:10:00', '17:20:00', '17:30:00', '17:40:00', '17:50:00',
                                   '18:00:00', '18:10:00', '18:20:00', '18:30:00', '18:40:00', '18:50:00',
                                   '19:00:00', '19:10:00', '19:20:00', '19:30:00', '19:40:00', '19:50:00',
                                   '20:00:00', '20:10:00', '20:20:00', '20:30:00', '20:40:00', '20:50:00',
                                   '21:00:00', '21:10:00', '21:20:00', '21:30:00', '21:40:00', '21:50:00',
                                   '22:00:00', '22:10:00', '22:20:00', '22:30:00', '22:40:00', '22:50:00',
                                   '23:00:00', '23:10:00', '23:20:00', '23:30:00', '23:40:00', '23:50:00', ],
                            axisLabel: {
                                show: true,
                                textStyle: {
                                    fontSize: 25,
                                }
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel: {
                                show: true,
                                textStyle: {
                                    fontSize: 25,
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '心率',
                            type: 'line',
                            data: {{ data }},
                            markPoint: {
                                data: [
                                    { type: 'max', name: '最大值' },
                                    { type: 'min', name: '最小值' }
                                ]
                            },
                            markLine: {
                                data: [
                                    {
                                        type: 'average',
                                        name: '平均值',
                                    }
                                ],
                                itemStyle: {
                                    normal: {
                                        label: {
                                            textStyle: {
                                                fontSize: 25
                                            },
                                        },
                                    },
                                    emphasis: {
                                        label: {
                                            textStyle: {
                                                fontSize: 25
                                            },
                                        },
                                    },
                                },
                            }
                        }
                    ]
                };

                // 为echarts对象加载数据 
                myChart.setOption(option);
            }
        );
    </script>
</body>