<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>宠物</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/round.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/backimg.css') }}" rel="stylesheet">
</head>
<body style="background-image:url({{ url_for('static', filename='img/header.jpg') }})">
    
    {% include 'nav.html' %}

    <div class="container" style="width:94%;position:relative;top:50px">

        <div class="row" style="font-family:'Microsoft YaHei UI';text-align:center;color:white">
            {% if already_have %}
            <h3>很遗憾，您已经拥有</h3>
            <p style="padding:5%;font-size:2.8em">{{ pet['name'] }}</p>
            {% else %}
            <h1>恭喜您获得</h1>
            <p style="padding:5%;font-size:2.8em">{{ pet['name'] }}</p>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
                <a href="{{ url_for('main.my_pet_info', openid = openid, petid = pet['id']) }}">
                    <img src="{{ url_for('static', filename='img/pets/'+pet['picture']) }}" class="img-responsive">
                </a>
                <p style="color:white;padding:5%;font-size:1em">点击图片查看详情</p>
            </div>

            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8" style="padding-bottom:20px">
                <a class="btn-block btn-lg btn-default" style="font-family:'Microsoft YaHei UI';font-size:2em" href="{{ url_for('main.get_pet', openid = openid) }}">再开一个</a>
            </div>
        </div>
    </div>
    <!-- js文件引入 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>