<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>宠物列表</title>

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/pet-style.css" rel="stylesheet">
</head>
<body style="background-image:url(./img/header.jpg)">
    <div class="container" style="width:94%;">
        <div class="row intro-tables" id="line_chart" style="">
            <h1 class="box" style="height:auto;color:white;text-align:center;font-size:3em">宠物列表</h1>

            <div class="pet-list-container" style="top:25px;position:relative;">
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
                <div class="grid">
                    <div class="imgholder">
                        <a href="my_pet_info.html">
                            <img src="" />
                        </a>
                    </div>
                    <p style="text-align:center;"><b>NAME</b></p>
                    <p>等级: </p>
                </div>
            </div>
        </div>
    </div>

    <!-- js文件引入 -->
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>