<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>宠物图鉴</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/original_pet_list.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/round.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

</head>
<body style="background-image:url({{ url_for('static', filename='img/header.jpg') }})">

    {% include 'nav.html' %}

    <div class="container" style="width:94%;">
        <h1 class="box" style="height:auto;color:white;text-align:center;font-size:3em">宠物图鉴</h1>
        <div id="BackToTop"><b>^</b></div>
        <div id="Close"><b>X</b></div>
        <div id="zoom">
            <div class="popup"></div>
            <div class="show">
                <img class="big" src="{{ url_for('static', filename='img/pets/001.png') }}" height="85%"/>
            </div>
            <div class="detail-container">
                
            </div>
        </div>
        <iframe width="0" height="0" name="actionframe" style="display:none"></iframe>
         <ul class="pic-column" id="ul1">
            <!--Original-->
            <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet1">
                <h5>#001</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="1">
                <input type="image" src="{{ url_for('static', filename='img/pets/001.png') }}" alt="Submit">
            </li>
        </form>
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet3">
                <h5>#003</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="3">
                <input type="image" src="{{ url_for('static', filename='img/pets/003.png') }}" alt="Submit">
            </li>
        </form>
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
        </form>
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet5">
                <h5>#005</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="5">
                <input type="image" src="{{ url_for('static', filename='img/pets/005.png') }}" alt="Submit">
            </li>
        </form>
            <!--added-->
        </ul>
        <ul class="pic-column" id="ul2">
        <!--Original-->
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet2">
                <h5>#002</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="2">
                <input type="image" src="{{ url_for('static', filename='img/pets/002.png') }}" alt="Submit">
            </li>
        </form>
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet4">
                <h5>#004</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="4">
                <input type="image" src="{{ url_for('static', filename='img/pets/004.png') }}" alt="Submit">
            </li>
        </form>
        <form id="zoom-detail" role="form" method="POST" action="" target="actionframe">
            <li class="pic-grid" id="pet6">
                <h5>#006</h5>
                <div class="info"></div>
                <input type="hidden" name="original_pet_id" value="6">
                <input type="image" src="{{ url_for('static', filename='img/pets/006.png') }}" alt="Submit">
            </li>
        </form>
        <!--added-->
        </ul>
    </div>

    <!-- js文件引入 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript">
    var u = "{{ url_for('static', filename='img/pets/') }}";
    var image_url = "{{ url_for('static', filename='img/pets/') }}";
    var selected_pet = $("#original_pet_id")[0].value;
    var pet;
    $(document).on('click','.pic-grid :image',function(){
          $.getJSON("{{ url_for('main.original_pet_list', openid = openid) }}",function(p){
                pet = p;
          }
    });

    
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/original_pet_list.js') }}"></script>
    
</body>