<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>口袋怪兽图鉴</title>
    <style>
    .ui-page {
    background: url('.img/header.png') repeat scroll 50% 50% #112233 !important;
    color: #aabbcc !important;
    }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/monster_index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/round.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

</head>
<body style="background-image:url({{ url_for('static', filename='img/header.jpg') }})">
    <div class="container" style="width:94%;">
        <h1 class="box" style="height:auto;color:white;text-align:center;font-size:3em">口袋怪兽图鉴</h1>
        <div id="BackToTop"><b>^</b></div>
        <div id="Close"><b>X</b></div>
        <div id="zoom">
            <div class="popup"></div>
            <div class="show">
                <img class="big" src="url({{ url_for('static', filename='img/pets/001.png') }}" height="85%"/>
            </div>
            <div class="detail-container">
                
            </div>
        </div>
         <ul class="pic-column" id="ul1">
            <!--Original-->
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/001.png') }}" alt="Pic1">
            </li>
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/003.png') }}" alt="Pic3">
            </li>
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/005.png') }}" alt="Pic5">
            </li>
            <!--added-->
        </ul>
        <ul class="pic-column" id="ul2">
        <!--Original-->
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/002.png') }}" alt="Pic2">

            </li>
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/004.png') }}" alt="Pic4">
            </li>
            <li class="pic-grid">
                <div class="order">                
                    <h5 style="margin-top:0.5px;margin-bottom:0px;color:red;text-align:left;font-weight:bold;">#001</h5>
                </div>
                <div class="info"></div>
                <img src="url({{ url_for('static', filename='img/pets/006.png') }}" alt="Pic6">
            </li>
        <!--added-->
        </ul>
    </div>

    <!-- js文件引入 -->
    <script src="./js/jquery.js"></script>
    <script src="./js/original_pet_list.js"></script>


</body>