<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <style>
    .ui-page {
    background: url('{{ url_for('static', filename='img/header.jpg') }}') repeat scroll 50% 50% #112233 !important;
    color: #aabbcc !important;
    }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/round.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/backimg.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-3.0.0.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.mobile-1.4.5.min.css') }}">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="container" style="width:94%;">
        <div class="row intro-tables" id="line_chart">
        <h1 class="box" style="height:auto;color:white;text-align:center;font-size:5em;font-family:'Microsoft YaHei UI';">个人信息</h1>
        <div class="col-lg-11 info_form" style="margin-top:7%;color:white;text-align:center;font-size:2em;font-family:'Microsoft YaHei UI';">
            </br>
            <form action="post">
            <label for="gender">性别：</label>
            <fieldset data-role="controlgroup" data-type="horizontal">
            <label for="male">男性</label>
            <input type="radio" name="gender" id="male" value="male">
            <label for="female">女性</label>
            <input type="radio" name="gender" id="female" value="female">   
            </fieldset>
            <div data-role="fieldcontain1">
            <label for="age">年龄：</label>
            <input type="range" name="age" id="age" value="30" min="0" max="120">
            </div>
            <div data-role="fieldcontain2">
            <label for="height">身高：(cm)</label>
            <input type="range" name="height" id="height" value="170" min="120" max="220">
            </div>
            <div data-role="fieldcontain3">
            <label for="weight">体重：(kg)</label>
            <input type="range" name="weight" id="weight" value="60" min="30" step="0.5" max="180">
            </div>
            <input type="submit" value="提交" class="btn btn-primary">
            </form>
        </div>
        </div>
    </div>

    <!-- js文件引入 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>
        $(document).bind('mobileinit',function(){
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="{{ url_for('static', filename='js/jquery.mobile-1.4.5.min.js') }}"></script>
</body>